@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

.pop {
    font-family: "Poppins", serif;
}

.custom-marker {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 38, 255);
    border-radius: 50%;
    position: relative;
}

.custom-marker::after {
    content: '';
    width: 50px; /* Increased size for the outer ring */
    height: 50px; /* Increased size for the outer ring */
    border: 2px solid rgba(43, 146, 255, 0.5); /* Transparent blue color */
    border-radius: 50%;
    position: absolute;
    top: -17px; /* Adjusted position for the outer ring */
    left: -17px; /* Adjusted position for the outer ring */
    animation: pulse 1.5s infinite;
    background-color: rgba(0, 81, 255, 0.2); /* Transparent blue background */
}

@keyframes border-size {
    0%, 100% {
        border-width: 3px;
    }
    50% {
        border-width: 4px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.cloud {
    position: absolute;
    opacity: 0;
    animation: drift-fade 10s linear infinite;
    pointer-events: none; /* Prevent interaction */
}

@keyframes drift-fade {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(200px);
        opacity: 0;
    }
}

.address-text {
    
    border: 2px solid rgba(255, 255, 255, 0.201);
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #ffffff;
    transform: translateX(-50%);
    width: fit-content;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(20px);
}
.address-text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 0.3s ease, background-color 0.3s ease;

}

  .rolling-text-container {
    overflow: hidden;
    height: 20px; /* Adjust based on your text height */
    position: relative;
    cursor: pointer;
}

.rolling-text {
    display: flex;
    flex-direction: column;
}

.rolling-text .text {
   
    text-align:left;
}
.green-circle {
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px;
    background-color: #04dd21; /* Green color */
    border-radius: 50%; /* Makes it a circle */
    margin-right: 8px; /* Spacing between circle and text */
    vertical-align: middle; /* Align with text */
  }
  .highlight {
    background-color: rgba(255, 255, 255, 0.175); /* or any color you prefer */
  }
  .highlight2 {
    background-color: rgba(0, 110, 255, 0.245); /* or any color you prefer */
  }
/* From Uiverse.io by codebykay101 */ 
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .glass {
    position: relative;
    width: 180px;
    height: 130px;
    background: linear-gradient(rgba(255, 255, 255, 0), transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(1px);
    transform: rotate(calc(var(--r) * 1deg));
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
}

.glass:hover {
    transform: rotate(calc(var(--r) * 1deg)) scale(1.1);
    cursor: pointer;
    z-index: 1;
}

.container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(109, 109, 109, 0.073);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container .glass svg {
    font-size: 2.5em;
    fill: #fff;
}

@media (max-width: 600px) {
    .container .glass {
        width: 140px;
        height: 100px;
        font-size: 10px;
    }

    .container .glass::before {
        height: 30px;
    }

    .container .glass svg {
        font-size: 2em;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  .modal-image {
    max-width: 100%;
    max-height: 80vh;
  }

  .github-contribution-chart {
    margin: 20px 0;
    text-align: center;
  }

   ::selection {
    background: #ffffff;
    color: #000000;  
  }

  .sldier{
    background: linear-gradient(rgba(255, 255, 255, 0), transparent);
    backdrop-filter: blur(20px);
  }


  @keyframes cactusMove {
  0% {
    left: 100%;
  }
  100% {
    left: -50px;
  }
}

.jump {
  animation: jumpAnim 0.8s ;
}

@keyframes jumpAnim {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 130px;
  }
  100% {
    bottom: 0px;
  }
}
